﻿

@{
    ViewData["Title"] = "About";
}
<section id="spacer"></section>
<section id="about">
    <div class="container">
        <h1>About this Project</h1>
        <h2>Web Page Parser</h2>

        <h3>Purpose:</h3>
        <p>Write a small user friendly program that allows the user to type a URL for a given website page and the program will then do the following:</p>
        <ul>
            <li>List all images and show them to the user appropriately in a carousel or gallery control of some kind (borrow from the internet or write your own)</li>
            <li> Count all the words (display the total) and display the top 10 occurring words and their count (eithers as a table or chart of some kind, again you choose or write your own)</li>
        </ul>

        <h3>Documentation</h3>
        <p>We will have a 2 page website that will include:</p>
        <ul>
            <li>
                Landing Page
            </li>
            <li>
                Results Page
                <ul>
                    <li>Summary</li>
                    <li>Image List</li>
                    <li>Top 10 Words</li>
                </ul>
            </li>
            <li>
                About Page
            </li>
            <li>
                Contact Page
            </li>
        </ul>
        
        <a href="~/img/Xcentium Test Project.pdf" target="_new">Download the Project Documentation</a>

        <h3>Source Code</h3>
        <p>The source code can be found at the author's BitBucket account.</p>  <a href="https://bitbucket.org/markfulton3/xcentium-test" target="_new">Xcentium Test Project</a>
    </div>
</section>