﻿@{
    ViewData["Title"] = "Contact";
}
<section id="spacer"></section>
<section id="contact">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <h3>@ViewData["Message"]</h3>

        <address>
            Mark Fulton<br />
            1323 South 211th St<br/>
            Omaha, NE<br />
            <abbr title="Phone">P:</abbr>
            402.301.7308
        </address>

        <address>
            <strong>Email:</strong> markfulton3@gmail.com
        </address>
        <div class="col-md-12">
            <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                    <a href="https://twitter.com/markfulton12" target="_new">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/markfulton3" target="_new">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/mark-fulton-a5b3986/" target="_new">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>