﻿@model Scrape
@{
    ViewData["Title"] = "Home Page";
}
<section id="spacer"></section>
<section id="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">an Xcentium Test Project</div>
            <div class="intro-heading text-uppercase">Let's Scrape a Web Page</div>
            <div class="row">
                <div class="col-lg-12">
                    @ViewData["Message"];

                    <form asp-controller="Scrape" asp-action="Index" id="scrapeForm" method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input asp-for="PageUrl" class="form-control" placeholder="http://someweb.com/page" />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <button id="btnGetPageData" class="btn btn-primary btn-xl text-uppercase" type="submit">Start</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

