﻿@using Xcentium.Test.Web.Models
@model Xcentium.Test.Web.Models.Scrape
@{
    ViewData["Title"] = "Scrape Data";
}
<section id="spacer"></section>
<section id="scrape">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Enter Web Page</h2>
                <h3 class="section-subheading text-muted">Gather text and image data on this web page.</h3>
            </div>
        </div>
        <div class="row">
            @Html.ValidationMessage("Error")

            <div class="col-lg-12">
                <form asp-controller="Scrape" asp-action="Index" id="scrapeForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input asp-for="PageUrl" class="form-control" placeholder="http://someweb.com/page" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <button id="btnGetPageData" class="btn btn-primary btn-xl text-uppercase" type="submit">Start</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="results">
    <div class="col-lg-12">
        <div class="alert-info"></div>
    </div>

    @{

        if (ViewData.ModelState.IsValid)
        {
            if (Model.WordCount.Count == 0)
            {
            <div class="text-danger text-center">The web page did not return any results. Please check your input.</div>

            }
            else
            {
            <div class="Summary">
                <h1>Summary</h1>
                <strong>Page Url</strong>: @Model.PageUrl<br />
                <strong>Image Count</strong>: @Model.ImageList.Count<br />
                <strong>Word Count</strong>: @Model.WordCount.Count
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="images">
                        <h1>Image List</h1>
                        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300 }'>
                            @{
                                if (Model.ImageList.Count != 0)
                                {
                                    foreach (WebImage image in Model.ImageList)
                                    {
                                        <div class="grid-item"><img src="@image.ImageUrl" /></div>
                                    }
                                }
                                else
                                {
                                    <div class="text-danger text-center">The web page did not return any images.</div>

                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="words">
                        <h1>Top 10 Recurring Words</h1>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Word</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.WordCount.Count != 0)
                                    {
                                        var maxCount = 10;
                                        if (Model.WordCount.Count < 10)
                                        {
                                            maxCount = Model.WordCount.Count;
                                        }


                                        for (int i = 0; i < maxCount; i++)
                                        {
                                            <tr>
                                                <td>@Model.WordCount[i].Word</td>
                                                <td>@Model.WordCount[i].Count</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2">The web page did not return any text.</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            }
        }
    }
</section>
<section id="popup">
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Preview</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" style="width: 400px; height: 264px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

