﻿.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 36px;
    line-height: 48px;
    color: #495057;
    background-color: @clr-light;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid @clr-border;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: auto;
}

input {
    padding: 20px;
}

.btn {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}
