﻿
@fnt-main: "Montserrat";
@fnt-secondary: "Roboto Slab";
@fnt-script: "Kaushan Script";

@clr-brand: #fec810;
@clr-dark: #212529;
@clr-gray: #555;
@clr-light: #fff;
@clr-accent: #fed136;
@clr-border: #e9ecef;

@screen-phone: 480px;

.h1 {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

