﻿footer {
    padding: 25px 0;
    text-align: center;
    position: relative;
    bottom: 0px;
    background-color: @clr-gray;
    width: 100%;
    color: @clr-light;

    a, a:visited, a:focus, a:hover {
        color: @clr-light;
    }
}
