﻿body {
    font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.h4, h4 {
    font-size: 1.5rem;
}

p {
    line-height: 1.75;
}
social-icons {
    font-size: 24px;
}

section {
    padding: 40px 20px;


    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    &#spacer {
        padding: 20px;
    }

    &#scrape {
        background-color: @clr-gray;

        h2.section-heading {
            color: @clr-light;
        }

        h3 {
            color: #eee;
        }
    }

    &#results {
        background-color: @clr-light;
    }
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;

    &:active, &:focus, &:hover {
        background-color: @clr-brand !important;
        border-color: @clr-brand !important;
        color: @clr-light;
    }
}

a, a:hover, a:active, a:focus {
    color:@clr-brand;
    text-decoration: none;
    cursor: help;
}