﻿header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;

    .navbar-default {
        .navbar-brand {
            .h1();
            color: @clr-light;
            margin: -8px 0;
        }
    }

    nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        a, a:hover, a:visited, a:focus {
            color: @clr-light;
        }

        ui li a {
            color: @clr-light;
        }

        &.navbar-default {
            background-color: #222;
            border-color: #222;
        }

        .navbar-toggle {
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-top: 8px;
            margin-right: 15px;
            margin-bottom: 8px;
            background-color: transparent;
            background-image: none;
            border: none;

            .navbar-brand {
                float: left;
                height: 50px;
                padding: 15px 15px;
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
}

section#masthead {
    text-align: center;
    color: @clr-light;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .intro-text {
        padding-top: 15vh;
        padding-bottom: 15vh;

        .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;

            @media (max-width: @screen-phone) {
                font-size: 24px;
                line-height: 24px;
            }
        }

        .intro-heading {
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 50px;
            font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;

            @media (max-width: @screen-phone) {
                font-size: 36px;
                line-height: 36px;
            }
        }
    }
}
