﻿.nav-pills {
    li {
        width: 33%;
        background-color: @clr-light;
        color: #808080;

        @media (max-width: @screen-phone)
        {
            width: 100%;
        }

        a {
            text-align: center;
            padding: 20px;
        }

        &.active {
            a, a:hover, a:focus, a:visited {
                background-color: @clr-brand;
                color: @clr-light;
            }
        }
    }
}

.tab-content {
    
    .tab-pane {
        padding: 40px;
        font-size: 24px;
        img {
            max-width: 300px;
            transform: scale(1.0);

            &:hover {
                background-color: #eee;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                -webkit-transition: all .3s ease-in-out; /* Safari */
                transition: all .3s ease-in-out;
            }
        }
    }
}
